#friend-activity-template.hide
  .friend-activity
    .user-name= "Jaime Barriga"
    .user-id.hide= "43"
    .user-uid.hide= "437382738723"
    .activity
      Learn to ski.
      %a.hashtag= "#skiing"
    %span.user-profile-pic
      %img{:src => 'http://graph.facebook.com/JaimeBarriga33/picture'}