$blue: #20385c;

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}

#global-container {
	font: 16px 'Maven Pro', Cambria, Georgia; 
	color: #282625; 
	margin: 0; 
	width: 100%;
    position: relative;
    min-height: 100%;
    overflow: hidden;

	&.home {
		background: url('/assets/skydiving.png');
	    background-size: cover;
	    background-repeat: none;
	    background-position: center center;
	    padding-top: 50px;
		.fa {
	    	font-size: 32px;
	    	margin-right: 10px;
	    }
	}
}

/***FRONT PAGE***/

.title {
	text-align: center;
	font-size: 40px;
	background: transparent;
	color: white;
}

.content {
	width: 100%;
}

.logo {
	font-family: 'Krona One', 'Coming Soon', sans-serif;
	font-size: 70px;
	color: #ddd;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 0;
}

.description {
	text-align: left;
	font-family: "Coming Soon", "Helvetica", sans-serif;
	color: white;
	padding-left: 20px;
	margin-top: 40px;
	font-size: 18px;

	> div {
		line-height: 32px;
		height: 32px;
		margin-bottom: 10px;
	}

	span {
		height: 32px;
		line-height: 32px;
		position: relative;
		top: -6px;
	}
}

.strike {
	text-decoration: line-through;
}

.facebook-container {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -115px;
}

.facebook-login {
	position: relative;
	width: 230px;
	margin: 80px auto 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-image: url(/assets/facebook-white.png);
	background-repeat: no-repeat;
	background-position: 19px center;
	background-size:20px;
	background-color: #3a5898;
	cursor: pointer;
	font-size: 20px;
	line-height: 40px;
	-webkit-transition: background-color 0.15s linear 0s;
	-moz-transition: background-color 0.15s linear 0s;
	-o-transition: background-color 0.15s linear 0s;
	transition: background-color 0.15s linear 0s;
	height: 60px;
	padding: 0 20px 0 80px;
	
	.separator {
		border-left: 1px solid #2f4a84;
		border-right: 1px solid #4163aa;
		height: 100%;
		position: absolute;
		left: 60px;
	}

	.text {
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 60px;
		text-align: center;
		color: white;
	}

	&:hover {
		background-color: #2f4a84;
	}
}

input[type="checkbox"] {
  outline: none;
}

#bucket-list {
	max-width: 550px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 70px auto 40px;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);

	@media(min-width: 850px) {
		width: 370px;
	}
}

#join-message {
	position: absolute;
	top: 110%;
	width: 100%;
	padding: 10px 20px;
	background: rgba(255,23,43,0.2);
	color: white;
	display: none;
}

#bucket-list:before {
	content: '';
	border-left: 1px solid #f5d6d6;
	border-right: 1px solid #f5d6d6;
	width: 2px;
	position: absolute;
	top: 0;
	left: 40px;
	height: 100%;
}

.filter {
	cursor: pointer;

	&.selected {
		color: #20385c;
	}
}

.show-all li {
	display: block;
}
.show-active li.completed{
	display: none;
}

.show-completed li{
	display: none 
}
.show-completed .completed {
	display: block;
}

#bucket-list input::-webkit-input-placeholder {
	font-style: italic;
}

#bucket-list input::-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}


#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#new-bucket-item,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#new-bucket-item {
	padding: 10px 16px 10px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
	display: none;
}

#todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	position: relative;
	font-size: 18px;
	border-bottom: 1px dotted #ccc;
}

#todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

#todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	/* Mobile Safari */
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#todo-list li .toggle:after {
	content: '✔';
	/* 40 + a couple of pixels visual adjustment */
	line-height: 43px;
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#todo-list li label {
	font-family: "Coming Soon", cursive;
	word-break: break-word;
	padding: 10px 60px 10px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	cursor: default;
}

#todo-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#todo-list li .edit {
	display: none;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

#filters li {
	display: inline;
}

#filters li a {
	color: #83756f;
	margin: 2px;
	text-decoration: none;
}

#filters li a.selected {
	font-weight: bold;
}

/***INSIDE***/

.dashboard-header {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 50px;
	background: rgb(32,56,92); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(32,56,92,1) 0%, rgba(38,59,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,56,92,1)), color-stop(100%,rgba(38,59,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(32,56,92,1) 0%,rgba(38,59,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(32,56,92,1) 0%,rgba(38,59,89,1) 100%); /* Opera 11.10+ */
	border-bottom: 1px solid #587D93;
	box-shadow: 0 5px 10px #aaa;
	-webkit-box-shadow: 0 5px 10px #aaa;
	-moz-box-shadow: 0 5px 10px #aaa;
	padding-left: 300px;
	.left {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		border-right: 2px solid lighten($blue, 10%);
		span {
			display: block;
			height: 50px;
			line-height: 50px;
			color: white;
			font-size: 18px;
			padding-left: 30px;
		}
	}
}

.page-wrap {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 300px;
}

.your-bucket-list {
	position: absolute;
	width: 300px;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}

.list {
	width: 300px;
	float: left;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	height: 100%;
	border: 1px solid #ccc;
}

.bucket-list-explore {
	position: relative;
	width: 100%;
	margin: 0;
	font-size: 22px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
}

.items {
	position: absolute;
	top: 57px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-top: 1px dotted #adadad;
	overflow-y: scroll;
}

.dashboard {
	position: relative;
	width: 100%;
	height: 100%;

}

