#user_nav
  - if current_user
    .facebook-container
      %a{:href => "/users/"+current_user.id.to_s+"/dashboard"}
        #sign_in.facebook-login
          .spinner
          .separator
          .text= "Continue"
  - else
    .facebook-container
      %a{:href => "/auth/facebook"}
        #sign_in.facebook-login
          .spinner
          .separator
          .text= "Sign in"