#friend-activities
  %ul
    / %li
    /   .friend-activity.selected
    /     .user-name= "Jaime Barriga"
    /     .user-id.hide= "43"
    /     .activity
    /       Learn to ski.
    /       %a.hashtag= "#skiing"
    /     %span.user-profile-pic
    /       %img{:src => 'http://graph.facebook.com/JaimeBarriga33/picture'}

  .facebook-container
    %a{:href => "#"}
      #create_event_button.facebook-login
        .spinner
        .separator
        .text= "Add Event"
