- content_for :title, "Dashboard"

#global-container
	%header.dashboard-header
		.left
			%span=current_user.name
		%a#sign_out{:href => signout_path}
			= "Sign out"
		%p#user_id{:hidden => ""}= current_user.id
	%div.page-wrap
		%section.your-bucket-list
			%div.list
				%header#header
					%form#add-new-item{:autocomplete => "off"}
						%input.bucket-list-explore{:autofocus => "", :placeholder => "What do I want to do?"}
				%section.items
					%ul#todo-list
						%li
							.view
								%input.toggle{:type => "checkbox"}
									%label Join interBucket
							%form
								%input.edit{:type => "text"}
						%li
							.view
								%input.toggle{:type => "checkbox"}
									%label Make your own bucket list
							%form
								%input.edit{:type => "text"}
						%li
							.view
								%input.toggle{:type => "checkbox"}
									%label Share it with friends
							%form
								%input.edit{:type => "text"}
		%section.dashboard
			%header#tag-selected{:data => {'tag-id' => 1}}= "#skiing"
			= render "friend_activities"
			= render "templates/friend_activity"
		%div.vertical-line
		%section.suggestions
			Hi